* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-content: flex-start;
}
header {
  width: 100%;
  min-height: fit-content;
  height: fit-content;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
  justify-content: space-evenly;
}

.navbar-item {
  margin-left: 0;
}

.navbar-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #ff4d4d;
}

.navbar-cart {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar-cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  color: #333;
  border-radius: 15px;
}

.navbar-cart-link:hover {
  color: #ff4d4d;
}

.navbar-cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

main {
  min-height: fit-content;
  width: 100%;
  background-color: transparent;
}
.container-primer-main {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: rgb(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.primer-main-izq,
.primer-main-der {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.25);
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-size: 5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.primer-main-izq:hover,
.primer-main-der:hover {
  background-color: rgb(255, 255, 255, 0.25);
}
.container-filtros {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filtros {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-filtro {
  height: 40%;
  padding: 10px;
  margin: 5px;
  font-size: larger;
  width: 100%;
}
.button-filtro {
  margin: 5px;
  padding: 5px;
}

#products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  margin: 20px;
  padding: 20px 5px 20px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.item:hover {
  z-index: 1;
  animation-name: scale;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.item h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: medium;
}

.item p {
  font-size: 18px;
  margin-bottom: 10px;
}

.item button{
  padding: 15px;
  background-color: rgb(245, 225, 220);
  border-radius: 5px;
  border: none;
  font-size: larger;
}
.item button:hover{
  background-color: rgb(233, 188, 176);
  cursor: pointer;
}



.box {
  width: fit-content;
  height: fit-content;
  background-color: beige;
  color: black;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 14px;
}

.botonModal{
  max-width: 100px;
  min-width: fit-content;
  padding: 5px 10px 5px 10px;
  margin: auto;
  margin-top: 5px;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

.modal-button {
  margin: 10px;
  padding: 5px 10px;
}

.modalCarrito-content {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 80px;
  overflow: auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
}

.carrito{
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  min-width: 80%;
  margin: auto;
}

.carrito li{
  list-style-type: none;
}

.carrito div{
  margin-top: 20px;
}

.carrito ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.nombre{
  display: flex;
  width: 40%;
  margin: none;
}

.precio{
  display: flex;
  width: 30%;
  margin: none;
}

.carrito ul li button{
  width: 20%;
  margin: none;
  height: 30px;
}

.carro{
  margin-right: 5px;
}

#vaciar{
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#pagar{
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#volver{
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.class-hide{
  display: none;
}

.class-show{
  display: block;
}


.container h1 {
  color: #333;
  text-align: center;
}

.container {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.caja-container {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(245, 225, 220);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  font-family: 'Tsukimi Rounded', sans-serif;
  animation: pulse 8s infinite;
}
.info{
  width: 100%;
  margin-left: 30px;
}

.info a, .info a:any-link{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  
}

.info a:hover{
  background-color: black;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}

